{% extends 'layout.html.twig' %}

{% block title %}Portfolio - Hobbies{% endblock %}

{% block content %}


<br><div class="container col-xl-6 ajout_form"><br>
    <h3 class="display-4 text-center">{{ title }}</h3><hr><br>
    <div class="container col-xl-6">
        {{ form(hobbyForm) }}
    </div><br>
</div><br>


{% endblock %}