{% extends 'layout.html.twig' %}

{% block content %}

<div class="col-xl-12 title">
        <h2>ADMIN<h2> 
    </div>

    <br>

<div class="col-xl-12 about">

    <div class="container comp">
        <h3 class="display-4 text-center">CONNEXION</h3><hr><br>

        <form class="p-5 col-12" method="post" action="{{ path('connexion') }}">
            <div class="form-row">
                <div class="form-group col-md-6 offset-md-3">
                    <label for="exampleInputEmail1">Pseudo</label>
                    <input type="text" class="form-control" name="_username" placeholder="Enter pseudo" value="{{ lastUserName }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 offset-md-3">
                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" class="form-control" name="_password" placeholder="Mot de passe">
                </div>
            </div><br>
                <button type="submit" class="btn btn-dark col-md-4 offset-md-4">Connexion</button>
        </form>

        {# {{form(UserForm)}} #}

    </div>
</div>

{% endblock %}