{% extends 'layout.html.twig' %}

{% block content %}

<div class="col-xl-12 title">
        <h2>Mes Formations<h2> 
    </div>

    <br>



    <div class="col-xl-12 about">

        <div class="container comp">

            <br><h3 class="display-4 text-center">Formations</h3><br><hr>

            


        </div>
    </div>

{% endblock %}