{% extends 'layout.html.twig' %}


{% block title %}Mon Portfolio - Accueil{% endblock %}


{% block content %}
    <div class="col-xl-12 title">
        <h2>Bienvenue sur mon Portfolio</h2> 
        <a href="{{ path('connexion') }}">co</a>
    </div>

    <br>

    <div class="col-xl-12 about">
        <h3 class="display-4 text-center">A propos</h3><hr><br>

        <p class="text-center">Passionné d'art ludiques je suis Développeur/Intégrateur web Jr</p>

        <h3 class="display-4 text-center">Mes qualités</h3><hr><br>

        <ul class="col-md-6 offset-md-5">
            <li>Sérieux</li>
            <li>Déterminé</li>
            <li>Sociable</li>
        </ul>
    </div>
{% endblock %}


